<h2>Новое событие.</h2>
<form method="post">
    <lable>Ведите название события:</lable><br />
    <input name="name" /><br />
    <lable>Ведите дату собития:</lable><br />
    <input name="date" type="date" /><br />
    <lable>Ведите время события:</lable><br />
    <input name="time" type="time" /><br />
    <button type="submit">Отправить</button>
</form>