<form method="post" >
    <p>
        <label>Name</label><br />
        <input name="Name"/>
    </p>
    <p>
        <label>Age</label><br />
        <input name="Age"/>
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>

<a href="?name=Alice&age=23">?name=Alice&age=23"</a><br />
<a href="/home/binduser?hasright=true">/home/binduser?hasright=true</a><br />
<a href="/home/binduser?hasright=true&name=Greed">/home/binduser?hasright=true&name=Greed</a><br />
<a href="/home/binduser?hasright=true&name=Greed&age=30">/home/binduser?hasright=true&name=Greed&age=30</a>